@import "tailwindcss";
:root {
  --admin-bg: #0f0f12;
  --user-bg: #6200ee;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

/* Chrome, Safari, Edge - Masquer la scrollbar pour le look mobile app */
::-webkit-scrollbar {
  display: none;
}

/* Cache le conteneur d'instructions de Leaflet Routing Machine */
.leaflet-routing-container {
  display: none !important;
}

/* Masquer le panneau de texte d'itinéraire */
.leaflet-routing-container {
  display: none !important;
}

/* Forcer la couleur du fond de carte pour éviter le blanc */
.leaflet-container {
  background: #0f172a !important;
}

/* Rendre les marqueurs Leaflet plus nets sur mobile */
.leaflet-marker-icon {
  filter: drop-shadow(0 4px 6px rgb(0 0 0 / 0.3));
}